.card-swap-container {
  position: relative;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-swap-container .card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 1rem;
}
